DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

AUTH_DB_NAME=
HOME_DB_NAME=
MEASUREMENTS_DB_NAME=

JWT_ISSUER=
JWT_SECRET=
JWT_EXPIRES_MINUTES=

ADMIN_EMAIL=
ADMIN_PASSWORD=

RABBITMQ_USER=
RABBITMQ_PASSWORD=

